<form action="/tasks/<%= @task.id %>" method="post">
  <p>Edit this taskskksk</p>
  <input type='hidden' 
         name='_method' 
         value='PUT'/>
  <input type='text' 
         name='task[title]' 
         placeholder='<%= @task.title %>'/>
  <br/>
  <textarea name='task[description]'
            placeholder='<%= @task.description %>'></textarea>
  <br/>
  <input type='submit'/>
</form>